#container{
    margin-top:100px;
    margin-left:700px;
    width:600px;
    padding:10px;
}
body{
    background-image:url('../images/login.png');
    background-repeat:no-repeat;
    background-size:45%;
    background-position-y: 150px;
}
#login-form h2{
    text-align:center;
    color:blue;
    letter-spacing: 5px;
}
#login-form{
    padding:10px;
    width:530px;
}
#login-form input{
    width:500px;
    height:40px;
    border-color:blue;
    border-radius:25px;
    margin-bottom:10px;
}
#login-form label{
    color:blue;
    font-weight:bold;
}
#login-form button{
    background-color:blue;
    color:white;
    margin-top:10px;
    border-style:none;
    border-radius:25px;
    font-size:20px;
    text-align:center;
    width:500px;
    height:60px;
}
#footer{
    margin-top:110px;
}