#container{
    margin-top:50px;
    margin-left:700px;
    width:600px;
    padding:10px;
    background-color: rgba(255,255,255,0.6);
}
#create-box h2{
    text-align:center;
    color:blue;
    letter-spacing: 5px;
    margin-bottom:52px;
}
#create-box{
    padding:10px;
    padding-top:50px;
    width:1200px;
    margin:auto;
    height:1600px;
}
#create-box input[type="text"], input[type="password"]{
    width:100%;
    height:30px;
    border-color:blue;
    border-radius:25px;
    margin-bottom:10px;
}

#create-org-1, #create-org-2, #create-org-3{
    display:flex;
}
textarea{
    min-width:100%;
    max-width:100%;
    min-height:238px;
    max-height:238px;
    border-color:blue;
    border-radius:25px;
}
#create-box label{
    color:blue;
    font-weight:bold;
}
#create-box button{
    background-color:blue;
    color:white;
    margin-top:10px;
    border-style:none;
    border-radius:25px;
    margin-bottom:15px;
    font-size:20px;
    text-align:center;
    margin-left:12%;
    width:500px;
    height:30px;
}

#create-box .col1{
    display:inline-block;
    width:52%;
    margin-right:50px;
}
#create-org-0{
    width:30%;
    height:100%;
    display:inline-block;
    float:left;
    margin-right:10px;
}

#create-box .col2{
    display:inline-block;
    width:45%;
}

#footer{
    margin-top:50px;
}

#create-org-0 img{
    margin-top:220px;
    width:95%;
}