<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../fonts/icomoon/style.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Style -->

    <link rel="stylesheet" href="../css/layout.css" type="text/css">
    <link rel="stylesheet" href="../css/category_beta.css" type="text/css">
    <title>Category - 2</title>
</head>
<body>
<div id="menu">
    <div class="col0">
        <a href="tel: 3773">
            <img src="../images/call_us_3.png" id="callUs" alt="">
        </a>
    </div>
    <div class="col1">
        <a href="/views/about_1.html">About Us</a>
        <a href="/views/send-mail.html">Contact Us</a>
        <a href="/views/categories.html">Categories</a>
        <a href="/views/price_list.html">Price List</a>
    </div>
    <div id="logo">
        <a href="/views">
            <img src="../images/DIR_INFO_CALL_LOGO_V2.png" alt="">
        </a>
    </div>
    <div class="col2">
        <a href="#" class="locale" locale-lang="hy_AM">Հայ</a> <!--<img src="https://img5.goodfon.ru/wallpaper/nbig/6/43/armenia-flag-armenian-armenian-flag-flag-of-armenia-republic.jpg" alt="arm_lang">-->
        <a href="#" class="locale" locale-lang="en_US">Eng</a> <!--<img src="https://tekinfarmed.com/images/en.png" alt="eng_lang">-->
        <a href="#" class="locale" locale-lang="ru_RU">Рус</a> <!--<img src="https://practicalfunctionalassessment.files.wordpress.com/2020/12/russian-flag-russian-flag-russia-flag-of-russia.jpg" alt="rus_lang">-->
    </div>
    <div class="col3">
        <a id="loginUrl" href="/views/login.html">Login</a>
        <a href="/views/register.html">Sign Up</a>
    </div>

</div>
<div id="container">
    <div id="content">
        <div class="col1">
            <p><a href="/views/categories.html"><img src="../images/category_minilogo.jpg" alt=""></a></p>
            <ul>
                <li><a href="/views/subcats/subcat2_1.html">Բժշկական կենտրոն</a></li>
                <li><a href="/views/subcats/subcat2_2.html">Հիվանդանոց</a></li>
                <li><a href="/views/subcats/subcat2_3.html">Դեղատուն</a></li>
                <li><a href="/views/subcats/subcat2_4.html">Ակնաբուժություն</a></li>
                <li><a href="/views/subcats/subcat2_5.html">Ատամնաբուժարան</a></li>
                <li><a href="/views/subcats/subcat2_6.html">Ախտորոշիչ կենտրոն</a></li>
                <li><a href="/views/subcats/subcat2_7.html">Պոլիկլինիկա</a></li>
            </ul>
        </div>
        <div class="col2">
            <h1>Առողջապահություն</h1>
            <div id="organizations">
                <h2 class="subcatHeading">Բժշկական կենտրոն</h2>
                <div class="post">
                    <h2><a href="/views/orgs/org1_1.html">ԱՍՏՂԻԿ ԲԺՇԿԱԿԱՆ ԿԵՆՏՐՈՆ</a></h2>
                    <p><l>Բազմապրոֆիլ բժշկական կենտրոն</l></p>
                    <p>Դ․ Վարուժանի փող. 28ա</p>
                </div>
                <div class="post">
                    <h2><a href="/views/orgs/org1_2.html">ՍՈՒՐԲ  ԱՍՏՎԱԾԱՄԱՅՐ ԲԺՇԿԱԿԱՆ ԿԵՆՏՐՈՆ</a></h2>
                    <p><l>Բժշկական կենտրոն</l></p>
                    <p>Արտաշիսյան փող. 46/1</p>
                </div>
                <div class="post">
                    <h2>ԱՐԱՄՅԱՆՑ ԲԺՇԿԱԿԱՆ ԿԵՆՏՐՈՆ / ԿԼԻՆԻԿԱԿԱՆ ՀԻՎԱՆԴԱՆՈՑ ԹԻՎ 3</h2>
                    <p><l>Բժշկական կենտրոն</l></p>
                    <p>Ձորափի փող. 40</p>
                </div>
                <div class="post">
                    <h2><a href="/views/orgs/org1_3.html">ԻԶՄԻՐԼՅԱՆ ԲԺՇԿԱԿԱՆ ԿԵՆՏՐՈՆ</a></h2>
                    <p><l>Բազմապրոֆիլ բժշկական կենտրոն</l></p>
                    <p>Հրաչյա Ներսիսյան փող. 19</p>
                </div>
                <div class="post">
                    <h2>ԳՐԻԳՈՐ ՆԱՐԵԿԱՑԻ ԲԺՇԿԱԿԱՆ ԿԵՆՏՐՈՆ</h2>
                    <p><l>Բժշկական կենտրոն</l></p>
                    <p>Նոր Արեշ, 22-րդ փող., 63/1</p>
                </div>
                <div class="post">
                    <h2><a href="/views/orgs/org1_4.html">ՆՈՐՔ-ՄԱՐԱՇ ԲԺՇԿԱԿԱՆ ԿԵՆՏՐՈՆ</a></h2>
                    <p><l>Բժշկական կենտրոն, մեծերի և երեխաների սրտաբանություն</l></p>
                    <p>Արմենակ Արմենակյան փող․ 108/4</p>
                </div>
                <div class="post">
                    <h2>ԲԵԳԼԱՐՅԱՆ ԲԺՇԿԱԿԱՆ ԿԵՆՏՐՈՆ / ԸՆՏԱՆԻՔԻ ՊԼԱՆԱՎՈՐՄԱՆ ԵՎ ՍԵՌԱԿԱՆ ԱՌՈՂՋՈՒԹՅԱՆ ԿԵՆՏՐՈՆ</h2>
                    <p><l>Բժշկական կենտրոն, ծննդատուն, գինեկոլոգիա</l></p>
                    <p>Աբովյան փող. 56</p>
                </div>
                <div class="post">
                    <h2><a href="/views/orgs/org1_5.html">ԱՐԱԲԿԻՐ ԲԺՇԿԱԿԱՆ ՀԱՄԱԼԻՐ- ԵՐԵԽԱՆԵՐԻ ԵՎ ԴԵՌԱՀԱՍՆԵՐԻ ԱՌՈՂՋԱՊԱՀՈՒԹՅԱՆ ԻՆՍՏԻՏՈՒՏ</a></h2>
                    <p><l>Բժշկական կենտրոն, բուժում, ախտորոշում և վերականգնում</l></p>
                    <p>Մամիկոնյանց փող. 30</p>
                </div>
                <div class="post">
                    <h2><a href="/views/orgs/org1_6.html">ԱՐՄԵՆԻԱ ՀԱՆՐԱՊԵՏԱԿԱՆ ԲԺՇԿԱԿԱՆ ԿԵՆՏՐՈՆ</a></h2>
                    <p><l>Բժշկական կենտրոն,</l></p>
                    <p>Մարգարյան փող. 6</p>
                </div>
                <div class="post">
                    <h2><a href="/views/orgs/org1_7.html">ՆԱԻՐԻ ԲԺՇԿԱԿԱՆ ԿԵՆՏՐՈՆ</a></h2>
                    <p><l>Բժշկական կենտրոն</l></p>
                    <p>Պարոնյան փող. 21</p>
                </div>
                <div class="post">
                    <h2><a href="/views/orgs/org1_8.html">ԷՐԵԲՈՒՆԻ ԲԺՇԿԱԿԱՆ ԿԵՆՏՐՈՆ</a></h2>
                    <p><l>Բժշկական կենտրոն,</l></p>
                    <p>Տիտոգրադյան փող. 14</p>
                </div>
                <div class="post">
                    <h2>ՔԱՆԱՔԵՌ ԶԵՅԹՈՒՆ ԲԺՇԿԱԿԱՆ ԿԵՆՏՐՈՆ</h2>
                    <p><l>Բժշկական կենտրոն</l></p>
                    <p>Հրաչյա Ներսիսյանի փող. 7</p>
                </div>
                <div class="post">
                    <h2>ԱՐԹՄԵԴ ԲԺՇԿԱԿԱՆ ԿԵՆՏՐՈՆ</h2>
                    <p><l>Բժշկական կենտրոն, սթրես կենտրոն, վերականգնողական կենտրոն, </l></p>
                    <p>Ծարավ Աղբյուրի փող. 55ա</p>
                </div>
                <div class="post">
                    <h2>ՑԻՏՈ ԲԺՇԿԱԿԱՆ ԿԵՆՏՐՈՆ</h2>
                    <p><l>Բժշկական կենտրոն բազմապրոֆիլ </l></p>
                    <p>Զաքիյան փող. 5</p>
                </div>
                <div class="post">
                    <h2>ԱՔՍԻՈՄԵԴ ԲԺՇԿԱԿԱՆ ԿԵՆՏՐՈՆ</h2>
                    <p><l>Բժշկական կենտրոն, վնասվածքաբանական, վերականգնողական կլինիկա</l></p>
                    <p>Տերյան փող․ 3, տարածք 42</p>
                </div>
                <div class="post">
                    <h2>ՇԵՆԳԱՎԻԹ ԲԺՇԿԱԿԱՆ ԿԵՆՏՐՈՆ</h2>
                    <p><l>Բազմապրոֆիլ բժշկական կենտրոն</l></p>
                    <p>Մանանդյան փող. 9</p>
                </div>
                <div class="post">
                    <h2>ՄՈՐ ԵՎ ՄԱՆԿԱՆ ԱՌՈՂՋՈՒԹՅԱՆ ՊԱՀՊԱՆՄԱՆ ԳԻՏԱՀԵՏԱԶՈՏԱԿԱՆ ԿԵՆՏՐՈՆ</h2>
                    <p><l>Բժշկական կենտրոն, մանկաբարձություն և գինեկոլոգիա</l></p>
                    <p>Մեսրոպ Մաշտոցի պող. 22</p>
                </div>
                <div class="post">
                    <h2>ՀԱՅ-ԱՄԵՐԻԿՅԱՆ ԱՌՈՂՋՈՒԹՅԱՆ ԿԵՆՏՐՈՆ</h2>
                    <p><l>Բժշկական կենտրոն, մամոգրաֆիայի կենտրոն, </l></p>
                    <p>Մխիթար Հերացու փող. 5</p>
                </div>
                <div class="post">
                    <h2>ՄՈՒՐԱՑԱՆ ՀԱՄԱԼՍԱՐԱՆԱԿԱՆ ՀԻՎԱՆԴԱՆՈՑԱՅԻՆ ՀԱՄԱԼԻՐ</h2>
                    <p><l>Բժշկական կենտրոն, հիվանդանոց</l></p>
                    <p>Մուրացանի փող. 114</p>
                </div>
                <div class="post">
                    <h2>ԴԻԱԳՆՈՍՏԻԿԱ ԲԺՇԿԱԿԱՆ ՄԻԱՎՈՐՈՒՄ</h2>
                    <p><l>Ախտորոշման կենտրոն, համալիր ախտորոշում և բուժում, </l></p>
                    <p>Մարգարյան փող. 6/1</p>
                </div>
                <div class="post">
                    <h2>ԻՆՖԵԿՑԻՈՆ ՀԻՎԱՆԴՈՒԹՅՈՒՆՆԵՐԻ ԱԶԳԱՅԻՆ ԿԵՆՏՐՈՆ</h2>
                    <p><l>Բժշկական կենտրոն, վարակների ախտորոշում, բուժում</l></p>
                    <p>Հրաչյա Աճառյան փող. 2</p>
                </div>
                <div class="post">
                    <h2>ՄԱՇԿԱԲԱՆՈՒԹՅԱՆ ԵՎ ՍԵՌԱՎԱՐԱԿՆԵՐԻ ԳԻՏԱԲԺՇԿԱԿԱՆ ԿԵՆՏՐՈՆ</h2>
                    <p><l>Բժշկական կենտրոն</l></p>
                    <p>Ֆուչիկի փող. 32</p>
                </div>
                <div class="post">
                    <h2>ԲՆԱԲՈՒԺՈՒԹՅՈՒՆ</h2>
                    <p><l>Բժշկական կենտրոն</l></p>
                    <p>Գարեգին Նժդեհի փող․ 19ա</p>
                </div>
                <div class="post">
                    <h2>ԱՅՐՎԱԾՔԱԲԱՆՈՒԹՅԱՆ ԱԶԳԱՅԻՆ ԿԵՆՏՐՈՆ</h2>
                    <p><l>Բժշկական կենտրոն, այրվածքների բուժում, ճառագայթաբանություն, </l></p>
                    <p>Դավթաշեն 25/ա</p>
                </div>
                <div class="post">
                    <h2>ՊՐՈՖԵՍՈՐ Ռ. ՅՈԼՅԱՆԻ ԱՆՎԱՆ ԱՐՅՈՒՆԱԲԱՆԱԿԱՆ ԿԵՆՏՐՈՆ</h2>
                    <p><l>Բժշկական կենտրոն, արյան հիվանդությունների բուժում և ախտորոշում</l></p>
                    <p>Հրաչյա Ներսիսյան փող. 7</p>
                </div>
                <div class="post">
                    <h2>ՍՐՏԱԲԱՆՈՒԹՅԱՆ ԳԻՏԱՀԵՏԱԶՈՏԱԿԱՆ ԻՆՍՏԻՏՈՒՏ</h2>
                    <p><l>Բժշկական կենտրոն, սրտաբանություն, </l></p>
                    <p>Պարույր Սևակի փող. 5</p>
                </div>
                <div class="post">
                    <h2>ՍՈՒՐԲ ԳՐԻԳՈՐ ԼՈՒՍԱՎՈՐԻՉ</h2>
                    <p><l>Բժշկական կենտրոն</l></p>
                    <p>Գյուրջյան փող. 10</p>
                </div>
                <div class="post">
                    <h2>ԱՐՄԵՆԻԿՈՒՄ</h2>
                    <p><l>Բժշկական կենտրոն, ՁԻԱՀ-ով, ՄԻԱՎ-ով վարակվածների բուժում,  </l></p>
                    <p>Գուսան Շերամի փող. 2</p>
                </div>
                <div class="post">
                    <h2>ՎՆԱՍՎԱԾՔԱԲԱՆՈՒԹՅԱՆ ԵՎ ՕՐԹՈՊԵԴԻԱՅԻ ԳԻՏԱԿԱՆ ԿԵՆՏՐՈՆ</h2>
                    <p><l>Բժշկական կենտրոն, ոսկրային բանկ բաժանմունք</l></p>
                    <p>Նորք, 9-րդ փող., շինություն 123</p>
                </div>
                <h2 class="subcatHeading">Հիվանդանոց</h2>
                <h2 class="subcatHeading">Դեղատուն</h2>
                <h2 class="subcatHeading">Ակնաբուժություն</h2>
                <h2 class="subcatHeading">Ատամնաբուժարան</h2>
                <h2 class="subcatHeading">Ախտորոշիչ կենտրոն</h2>
                <h2 class="subcatHeading">Պոլիկլինիկա</h2>

            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="row1">
        <div class="col1">
            <h4>Telephones</h4>
            <h4>հեռախոսաիին տեղեկատու</h4>
            <a href="tel:3773">3773</a><br>
            <a href="tel: +374 71 00 37 73">+374-71-00-37-73</a><br>
            <h4>ընդհանուր բաժին</h4>
            <a href="tel:+374 10 12 37 73">+374-10-12-37-73</a><br>
            <a href="tel:+374 93 00 75 91">+374-93-00-75-91</a><br>
            <h4>Address: <br><span style="color:dodgerblue;"> Republic of Armenia, Yerevan <br>Mamikonyants 52</span></h4>
            <a href="/views/send-mail.html">Send mail</a><br>
        </div>
        <div class="col2">
            <h4>Social Network</h4>
            <a href="http://facebook.com" target="_blank"><img src="../images/facebook.png" width="50" height="50" alt="facebook"></a>
            <a href="http://twitter.com" target="_blank"><img src="../images/twitter.png" width="50" height="50" alt="twitter"></a>
            <a href="http://instagram.com" target="_blank"><img src="../images/Instagram.svg.webp" width="50" height="50" alt="instagram"></a><br>
            <a href="/views/posts.html">News</a><br>
            <a href="/views/organizations.html">Classificators</a><br>
            <a href="/views/footer1.html">Գաղտնիութան քաղաքականութուն</a><br>
            <a href="/views/footer2.html">Օգտագործման կանոններ</a><br>
            <a href="/views/codes.html">ՀՀ մարզերի և միջազգաիին կոդեր</a><br>
        </div>
    </div>
    <p>&copy; Samvel Directory 2021</p>
</div>

</body>
</html>