<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <script type="module" src="../js/pages/index.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&family=Rye&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/layout.css" type="text/css">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="icon" href="../images/DIR_INFO_CALL_LOGO_V2.PNG" type="image/png" size="16x16">
</head>
<body>
<div id="main">
    <div id="container">
        <div class="row1">
            <div class="col1">
                <div id="menubar">
                    <a href="/views/about_1.html" class="red-click yellow-hover bold">About Us</a>
                    <a href="/views/send-mail.html" class="red-click yellow-hover bold">Contact Us</a>
                    <a href="/views/categories.html" id="catsToogle" class="red-click yellow-hover bold">Categories</a>
                    <a href="/views/price_list.html" class="red-click yellow-hover bold">Price List</a>
                    <a href="/views/blog.html" id="blog-link" class="red-click yellow-hover bold">Blog</a>
                </div>
                <br>
                <img src="../images/call_us_3.png" id="callUs" alt="">
            </div>
            <div class="col2">
                <a id="loginUrl" href="/views/login.html" class="has-sound red-click yellow-hover bold" style="width:60px;text-align:center;">Login</a>
                <a id="signUpUrl" href="/views/register.html" class="has-sound red-click yellow-hover bold" style="margin-left:10px;text-align:center;;">Sign Up</a><br>
                <a href="/views/organization-create.html" class="has-sound red-click yellow-hover bold" style="margin-right:7px;">New Organization</a><br>
            </div>
            <div class="col3">
                <div style="display:flex; justify-content: space-around;">
                    <ul>
                        <li>
                            <a href="#" class="locale" locale-lang="hy_AM">Հայ <img src="https://img5.goodfon.ru/wallpaper/nbig/6/43/armenia-flag-armenian-armenian-flag-flag-of-armenia-republic.jpg" alt="arm_lang"></a>
                        </li>
                        <li>
                            <a href="#" class="locale" locale-lang="en_US">Eng <img src="https://tekinfarmed.com/images/en.png" alt="eng_lang"></a>
                        </li>
                        <li>
                            <a href="#" class="locale" locale-lang="ru_RU">Рус <img src="https://practicalfunctionalassessment.files.wordpress.com/2020/12/russian-flag-russian-flag-russia-flag-of-russia.jpg" alt="rus_lang"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row2">
            <div class="col1">
                <div id="hot-line">
                    <img src="../images/hotlines_2.jpg" alt="" id="hotline-image-1" style="width:87%;height:150px;margin-left:20px;">
                    <img src="../images/hotlines.png" id="toogle">
                    <a target="_blank" href="https://www.google.com/maps/@40.0090187,45.2423152,8z"><img src="../images/map_2_1.png" alt="" id="mapLink"></a><br>
                    <a style="font-size:30px;" href="/views/oldNewStreets.html"><img id="oldNewStreets" alt="" src="../images/oldNewStreets.jpg"></a>
                </div>
            </div>
            <div class="col2">
                <div id="logo">
                    <img src="../images/DIR_INFO_CALL_LOGO_V2.png" alt="">
                    <h1>#dir.info.call</h1>
                </div>
            </div>
            <div class="col3">
                <div id="services">
                    <a target="_blank" href="https://hotel.am/am/"><img src="../images/hotel.png" alt=""></a><br><br>
                    <div style="clear:right;display:flex;flex-direction:row-reverse;">
                        <a target="_blank" href="https://www.yerevan.am/am/staff/"><img class="triggered-link" src="../images/yerevan.jpg" alt="" style="width:95px;height:60px;"></a><br><br>
                        <a target="_blank" href="https://www.gov.am/am/staff-structure/"><img class="triggered-link" src="../images/gover_2.jpg" alt="" style="width:95px;height:60px;margin-right:5px;"></a><br><br>
                    </div>
                    <a target="_blank"  href="https://pharmacy.am/?inc=allp&lng=am"><img src="../images/pharmacy.png" class="triggered-link" alt=""style="width:190px;height:60px;background-color:white;"></a><br><br>
                    <a target="_blank"  href="https://www.doctor911.am/hospitals"><img src="../images/doctor911.png" class="triggered-link" alt="" style="width:190px;height:60px;background-color:white;" ></a><br><br>
                    <div style="clear:right;display:flex;flex-direction:row-reverse;">
                        <a href="/views/mailIndexes.html"><img class="triggered-link" src="../images/mail_index.png" alt="" style="width:95px;height:60px;"></a><br><br>
                        <a target="_blank" href="https://www.embassy.am/am/"><img class="triggered-link" src="../images/embassy.png" alt="" style="width:95px;height:60px;margin-right:5px;"></a><br><br>
                    </div>
                    <div id="world-phones">
                        <a href="/views/codes.html">
                            <img src="../images/world-phones-2_1.png" alt="" id="world-phones-img">
                        </a>
                    </div>
                </div>
                <span style="clear:right;"></span>
            </div>
        </div>
        <div class="row4">
            <div id="search-box" >
                <input type="text" name="search" placeholder="Search organization">
                <button id="searchBtn" class="red-click yellow-hover"><i class="fa fa-search has-sound" style="font-size:24px"></i></button>
                <button id="voiceRecorder" class="yellow-hover"><i class="fa fa-microphone has-sound"></i></button>
            </div>
        </div>
        <div class="row5">
            <a href="https://alfapharm.am/" target="_blank">
                <div class="org org1">

                </div>
            </a>
            <a href="https://www.mic.am/" target="_blank">
                <div class="org org6">

                </div>
            </a>
            <a href="https://ameriabank.am/" target="_blank">
                <div class="org org2">

                </div>
            </a>
            <a href="https://help.am/hospital/astghik/" target="_blank">
                <div class="org org3">

                </div>
            </a>
            <a href="https://www.zigzag.am/am/" target="_blank">
                <div class="org org4">

                </div>
            </a>
            <a href="http://www.tashirpizza.am/" target="_blank">
                <div class="org org5">

                </div>
            </a>
            <a href="https://www.facebook.com/riomall" target="_blank">
                <div class="org org7">

                </div>
            </a>
        </div>
    </div>
    <div id="footer">
        <div class="row1">
            <div class="col1">
                <h4>Telephones</h4>
                <h4>հեռախոսաիին տեղեկատու</h4>
                <a href="tel:3773">3773</a><br>
                <a href="tel: +374 71 00 37 73">+374-71-00-37-73</a><br>
                <h4>ընդհանուր բաժին</h4>
                <a href="tel:+374 10 12 37 73">+374-10-12-37-73</a><br>
                <a href="tel:+374 93 00 75 91">+374-93-00-75-91</a><br>
                <h4>Address: <br><span style="color:dodgerblue;"> Republic of Armenia, Yerevan <br>Mamikonyants 52</span></h4>
                <a href="http://facebook.com" target="_blank"><img src="../images/facebook.png" width="50" height="50" alt="facebook"></a>
                <a href="http://twitter.com" target="_blank"><img src="../images/twitter.png" width="50" height="50" alt="twitter"></a>
                <a href="http://instagram.com" target="_blank"><img src="../images/Instagram.svg.webp" width="50" height="50" alt="instagram"></a><br>

            </div>
            <div class="col2">
                <a href="/views/about_1.html.html">About Us</a><br>
                <a href="/views/send-mail.html">Contact Us</a><br>
                <a href="/views/categories.html">Categories</a><br>
                <a href="/views/price_list.html">Price List</a><br>
                <a href="/views/blog.html">Blog</a><br><br>
                <a href="/views/hotlines.html">ԹԵԺ ԳԾԵՐ</a><br>
                <a href="/views/codes.html">ՀՀ մարզերի և միջազգաիին կոդեր</a><br>
                <a href="/views/mailIndexes.html">Երևանի փոստային դասիչներ</a><br>
                <a href="/views/oldNewStreets.html">Փողոցների հին ու նոր անվանումներ</a><br>
                <a target="_blank" href="https://www.google.com/maps/@40.0090187,45.2423152,8z">ՔԱՐՏԵԶ</a><br><br>
                <a href="/views/footer1.html">Գաղտնիութան քաղաքականութուն</a><br>
                <a href="/views/footer2.html">Օգտագործման կանոններ</a><br>

            </div>
        </div>
        <p>&copy; Samvel Directory 2022</p>
    </div>
</div>
<div id="showcase">
    <div class="showRow">
        <img src="../images/DIR_INFO_CALL_LOGO_V2.PNG" alt="">
        <div class="myUl">
            <h2 style="font-family: 'Pattaya', sans-serif;">ՏԵղեկատու</h2>
            <h2 style="font-family: 'Rye', cursive;">Directory</h2>
            <h2 style="font-family: 'Pattaya', sans-serif;">Справочная</h2>
        </div>
    </div>
    <p>© Samvel Directory 2022</p>
</div>
</body>
</html>