<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Organization</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../fonts/icomoon/style.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Phone Codes</title>
    <link rel="stylesheet" href="../css/layout.css" type="text/css">
    <link rel="stylesheet" href="../css/organization-create.css" type="text/css">
    <link rel="stylesheet" href="../css/hcm_switch.css" type="text/css">
    <script type="module" src="../js/session/registerPanel.js"></script>
    <script type="module" src="../js/pages/organization-create.js"></script>
    <link rel="icon" href="../images/DIR_INFO_CALL_LOGO_V2.PNG" type="image/png" size="16x16">
</head>
<body>
<div id="menu">
    <div class="col0">
        <a href="tel: 3773">
            <img src="../images/call_us_3.png" id="callUs" alt="">
        </a>
    </div>
    <div class="col1">
        <a href="/views/about_1.html">About Us</a>
        <a href="/views/send-mail.html">Contact Us</a>
        <a href="/views/categories.html">Categories</a>
        <a href="/views/price_list.html">Price List</a>
        <a href="/views/blog.html" id="blog-link">Blog</a>
    </div>
    <div id="logo">
        <a href="/views">
            <img src="../images/DIR_INFO_CALL_LOGO_V2.png" alt="">
        </a>
    </div>
    <div class="col2">
        <a href="#" class="locale" locale-lang="hy_AM">Հայ</a> <!--<img src="https://img5.goodfon.ru/wallpaper/nbig/6/43/armenia-flag-armenian-armenian-flag-flag-of-armenia-republic.jpg" alt="arm_lang">-->
        <a href="#" class="locale" locale-lang="en_US">Eng</a> <!--<img src="https://tekinfarmed.com/images/en.png" alt="eng_lang">-->
        <a href="#" class="locale" locale-lang="ru_RU">Рус</a> <!--<img src="https://practicalfunctionalassessment.files.wordpress.com/2020/12/russian-flag-russian-flag-russia-flag-of-russia.jpg" alt="rus_lang">-->
    </div>
    <div class="col3">
        <a id="loginUrl" href="/views/login.html">Login</a>
        <a href="/views/register.html">Sign Up</a>
    </div>
    <label id="hcm-switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
</div>
<div id="create-box">
    <div id="create-org-0">
        <img src="../images/create_organization.png" alt="">
    </div>
    <h2 id="localize-createOrg"></h2>
    <div id="create-org-1">
        <div class="col1">
            <label class="main-label">Organization name: </label><br>
            <input type="text" name="orgName"><br>
            <label class="main-label">Category: </label><br>
            <input type="text" name="category"><br>
            <label class="main-label">Subcategory: </label><br>
            <input type="text" name="subcategory"><br>
            <label class="main-label">Organization logo: </label><br>
            <input type="file" name="orgLogo"><br>
            <label class="main-label" style="margin-top:11px;">Director: </label><br>
            <input type="text" name="director"><br>
            <label class="main-label">Address: </label><br>
            <input type="text" name="address"><br>
            <label class="main-label">Phones: </label><br>
            <input type="text" name="phone"><br>
            <input type="text" name="phone-2"><br>
            <input type="text" name="phone-3"><br>
            <input type="text" name="phone-4"><br>
        </div>
        <div class="col2">
            <label class="main-label">FAX: </label><br>
            <input type="text" name="fax"><br>
            <label class="main-label">Email: </label><br>
            <input class="main-label" type="text" name="email"><br>
            <label class="main-label">Website URL: </label><br>
            <input type="text" name="website-url"><br>
            <label class="main-label">Short Link: </label><br>
            <input type="text" name="short-link"><br>
            <label class="main-label">Facebook URL: </label><br>
            <input type="text" name="facebook-url"><br>
            <label class="main-label">Twitter URL: </label><br>
            <input type="text" name="twitter-url"><br>
            <label class="main-label">Instagram URL: </label><br>
            <input type="text" name="instagram-url"><br>
            <input type="checkbox" name="has-link"><label class="main-label">Has Link?</label><br>
        </div>
    </div>
    <div id="create-org-2">
        <div class="col1">
            <label class="main-label">Photos: </label><br>
            <input type="text" class="photo"><br>
            <input type="text" class="photo"><br>
            <input type="text" class="photo"><br>
            <input type="text" class="photo"><br>
            <input type="text" class="photo"><br>
            <label class="main-label">Video Link:</label><br>
            <input type="text" name="video"><br>
            <label class="main-label">Map: </label><br>
            <input type="text" name="map"><br>
            <label class="main-label">Year of foundation: </label><br>
            <input type="text" name="foundationYear"><br>
            <label class="main-label">Employees: </label><br>
            <select name="employees">
                <option value="1-16">1-16</option>
                <option value="25-75">25-75</option>
                <option value="75-150">75-150</option>
                <option value="150-300">150-300</option>
            </select>
        </div>
        <div class="col2">
            <label class="main-label">Working Days: </label><br>
            <div id="working-days">
                <input type="checkbox" value="monday"><span>Monday</span><br>
                <input type="checkbox" value="tuesday"><span>Tuesday</span><br>
                <input type="checkbox" value="wednesday"><span>Wednesday</span><br>
                <input type="checkbox" value="thursday"><span>Thursday</span><br>
                <input type="checkbox" value="friday"><span>Friday</span><br>
                <input type="checkbox" value="saturday"><span>Saturday</span><br>
                <input type="checkbox" value="sunday"><span>Sunday</span><br><br>
                <select name="price">
                    <option value="0">Անվճար</option>
                    <option value="20000">20000</option>
                    <option value="30000">30000</option>
                    <option value="45000">45000</option>
                </select>
            </div>
            <label class="main-label">Working Time</label><br>
            <input type="time" name="start-time"> - <input type="time" name="end-time"><br>
        </div>
    </div>
    <div id="create-org-3">
        <div class="col1">
            <label class="main-label">Organization Description: </label><br>
            <textarea name="description"></textarea>
        </div>
        <div class="col2">
            <label class="main-label" style="margin-top:6px;">More: </label><br>
            <textarea name="more" min-width="300" min-height="200"></textarea>
        </div>
    </div>
    <button id="create">Create Organization</button>
</div>
<div id="footer">
    <div class="row1">
        <div class="col1">
            <h4>Telephones</h4>
            <h4>հեռախոսաիին տեղեկատու</h4>
            <a href="tel:3773">3773</a><br>
            <a href="tel: +374 71 00 37 73">+374-71-00-37-73</a><br>
            <h4>ընդհանուր բաժին</h4>
            <a href="tel:+374 10 12 37 73">+374-10-12-37-73</a><br>
            <a href="tel:+374 93 00 75 91">+374-93-00-75-91</a><br>
            <h4>Address: <br><span style="color:dodgerblue;"> Republic of Armenia, Yerevan <br>Khachatryan 26/3</span></h4>
            <a href="http://facebook.com" target="_blank"><img src="../images/facebook.png" width="50" height="50" alt="facebook"></a>
            <a href="http://twitter.com" target="_blank"><img src="../images/twitter.png" width="50" height="50" alt="twitter"></a>
            <a href="http://instagram.com" target="_blank"><img src="../images/Instagram.svg.webp" width="50" height="50" alt="instagram"></a><br>

        </div>
        <div class="col2">
            <a href="/views/about_1.html.html">About Us</a><br>
            <a href="/views/send-mail.html">Contact Us</a><br>
            <a href="/views/categories.html">Categories</a><br>
            <a href="/views/price_list.html">Price List</a><br>
            <a href="/views/blog.html">Blog</a><br><br>
            <a href="/views/hotlines.html">ԹԵԺ ԳԾԵՐ</a><br>
            <a href="/views/codes.html">ՀՀ մարզերի և միջազգաիին կոդեր</a><br>
            <a href="/views/mailIndexes.html">Երևանի փոստային դասիչներ</a><br>
            <a href="/views/oldNewStreets.html">Փողոցների հին ու նոր անվանումներ</a><br>
            <a target="_blank" href="https://www.google.com/maps/@40.0090187,45.2423152,8z">ՔԱՐՏԵԶ</a><br><br>
            <a href="/views/footer1.html">Գաղտնիութան քաղաքականութուն</a><br>
            <a href="/views/footer2.html">Օգտագործման կանոններ</a><br>

        </div>
    </div>
    <p>&copy; Samvel Directory 2022</p>
</div>
</body>
</html>