<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../fonts/icomoon/style.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Style -->

    <link rel="stylesheet" href="../css/layout.css" type="text/css">
    <link rel="stylesheet" href="../css/organization-single.css" type="text/css">
    <script type="module" src="../js/session/registerPanel.js"></script>
    <script type="module" src="../js/pages/organization-single.js"></script>
    <style>
        textarea[name='comment']{
            min-width:500px;
            min-height:100px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../images/DIR_INFO_CALL_LOGO_V2.PNG" type="image/png" size="16x16">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="menu">
    <div class="col0">
        <a href="tel: 3773">
            <img src="../images/call_us_3.png" id="callUs" alt="">
        </a>
    </div>
    <div class="col1">
        <a href="/views/about_1.html">About Us</a>
        <a href="/views/send-mail.html">Contact Us</a>
        <a href="/views/categories.html">Categories</a>
        <a href="/views/price_list.html">Price List</a>
        <a href="/views/blog.html" id="blog-link">Blog</a>
    </div>
    <div id="logo">
        <a href="/views">
            <img src="../images/DIR_INFO_CALL_LOGO_V2.png" alt="">
        </a>
    </div>
    <div class="col2">
        <a href="#" class="locale" locale-lang="hy_AM">Հայ</a>
        <a href="#" class="locale" locale-lang="en_US">Eng</a>
        <a href="#" class="locale" locale-lang="ru_RU">Рус</a>
    </div>
    <div class="col3">
        <a id="loginUrl" href="/views/login.html">Login</a>
        <a href="/views/register.html">Sign Up</a>
    </div>

</div>
<div id="container">
    <div id="rowX">
        <p id="path"><a href="/views/categories.html"><img src="../images/category_minilogo.jpg" alt=""></a> &raquo; <a href="/views/category.html" id="category"></a> &raquo; <span id="subcategory"></span></p>
        <div id="search-box">
            <input type="text" name="search-query">
            <button id="search">Search <i class="fa fa-search"></i></button>
        </div>
    </div>
    <div id="content">
        <div class="col1">
            <div class="img-container">
                <img id="orgLogo">
            </div>
            <div id="short-info">
                <p>Հիմնադրման տարեթիվ՝ <b><span id="foundationYear"></span></b></p>
                <p><i class="fa fa-users" style="font-size:24px;color:red;margin-right:10px;"> </i><span id="employees"></span></p>
                <div id="timeColide">
                    <p><b>Աշխատանքային օրեր`</b></p>
                    <div style="display:flex; ">
                        <p style="margin-right:10px;" id="working-days"></p>
                        <p style="display: inline-block;padding-top:3px;" id="working-time"></p>
                    </div>
                    <div id="rest-days-box" style="display:flex;">
                        <p><b>Հանգստյան օրեր`</b></p>
                        <p id="rest-days"></p>
                    </div>
                </div>
                <p>Տեղեկությունների թարմացում՝ <span id="data-update"></span></p>
            </div>
            <div id="short-info-2" style="display:block;text-align:center;">
                <img src="../images/infobox2_5.png" alt="" style="width:85%;margin:0;">
            </div>
        </div>
        <div class="col2">
            <div id="row0">
                <h1 id="organizationName"></h1>
                <p id="openClose"></p>
            </div>
            <div id="row">
                <div class="subcol1">
                    <p><i class="fa fa-briefcase" style="color:red;font-size:24px;margin-right:20px;"></i> <span id="description"></span></p>
                    <p><img src="../images/men-in-realred.png" alt="" width="24" style="margin-right:20px;"> <b><span id="director"></span></b></p>
                    <div style="display:flex;" id="phone-book">
                        <h3><i class="fa fa-phone" style="color:red; margin-right:17px;"></i></h3>
                        <ul id="phones">

                        </ul>
                    </div>
                    <h3>Fax: <span id="fax"></span></h3>
                    <div style="display:flex">
                        <h3><i class="fa fa-briefcase" style="color:red; margin-right:17px;"></i></h3>
                        <div id="activities">

                        </div>
                    </div>
                    <h3 style="margin-top:20px;color:red;font-size:20px;"><i class="fas fa-city"></i> <b><a href="#" style="color:green;margin-left:17px;" id="branches">ՄԱՍՆԱՃՅՈՒՂԵՐ</a></b></h3>
                </div>
                <div class="subcol2">
                    <div id="mapLocation">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1524.3191259837556!2d44.46509700972347!3d40.17260731152218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406abdc7d111204d%3A0xcfefb53d22b34ec5!2zwqvQkNCh0KLQpdCY0JrCuyDQnNCV0JTQmNCm0JjQndCh0JrQmNCZINCm0JXQndCi0KA!5e0!3m2!1sru!2s!4v1622199253250!5m2!1sru!2s" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div id="contact-info">
                        <div>
                            <h3 style="margin-left:10px;"><i class="fa fa-map-marker" style="color:red;font-size:36px;margin-right:25px;"></i> <span id="address"></span></h3>
                            <h3 style="margin-left:10px;">Email: <span id="email"></span></h3>
                            <h3 style="margin-left:10px;"><i class="fab fa-internet-explorer" style="color:red;margin-right:20px;"></i> <a id="website"></a></h3>
                            <h3 style="margin-left:10px;"><img src="../images/DIR_INFO_CALL_LOGO_V2.PNG" style="width:40px;height:40px;margin-right:15px;"><a id="shortLink">some link</a></h3>
                        </div>
                        <h3 id="socialLink">
                            <a id="facebook-url"><i style="color:red;" class="fa fa-facebook-official"></i></a>
                            <a id="twitter-url"><i style="color:red;" class="fa fa-twitter-square"></i></a>
                            <a id="instagram-url"><i style="color:red;" class="fa fa-instagram"></i></a>
                        </h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="gallery">
        <h2>VIDEO <img src="../images/DIR_INFO_CALL_LOGO_V2.PNG" alt="">
            PHOTO <img src="../images/DIR_INFO_CALL_LOGO_V2.PNG" alt="">
            VIDEO <img src="../images/DIR_INFO_CALL_LOGO_V2.PNG" alt="">
            PHOTO <img src="../images/DIR_INFO_CALL_LOGO_V2.PNG" alt="">
            VIDEO <img src="../images/DIR_INFO_CALL_LOGO_V2.PNG" alt="">
            PHOTO</h2>
        <div class="row">
            <img alt="" id="photo1">
            <div id="video">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Vt_B09o349Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <img alt="" id="photo2">
        </div>
        <div class="row">
            <img alt="" id="photo3">
            <img alt="" id="photo4">
            <img alt="" id="photo5">
        </div>
        <h2>VIDEO <img src="../images/DIR_INFO_CALL_LOGO_V2.PNG" alt="">
            PHOTO <img src="../images/DIR_INFO_CALL_LOGO_V2.PNG" alt="">
            VIDEO <img src="../images/DIR_INFO_CALL_LOGO_V2.PNG" alt="">
            PHOTO <img src="../images/DIR_INFO_CALL_LOGO_V2.PNG" alt="">
            VIDEO <img src="../images/DIR_INFO_CALL_LOGO_V2.PNG" alt="">
            PHOTO</h2>
    </div>
</div>
<div id="footer">
    <div class="row1">
        <div class="col1">
            <h4>Telephones</h4>
            <h4>հեռախոսաիին տեղեկատու</h4>
            <a href="tel:3773">3773</a><br>
            <a href="tel: +374 71 00 37 73">+374-71-00-37-73</a><br>
            <h4>ընդհանուր բաժին</h4>
            <a href="tel:+374 10 12 37 73">+374-10-12-37-73</a><br>
            <a href="tel:+374 93 00 75 91">+374-93-00-75-91</a><br>
            <h4>Address: <br><span style="color:dodgerblue;"> Republic of Armenia, Yerevan <br>Khachatryan 26/3</span></h4>
            <a href="http://facebook.com" target="_blank"><img src="../images/facebook.png" width="50" height="50" alt="facebook"></a>
            <a href="http://twitter.com" target="_blank"><img src="../images/twitter.png" width="50" height="50" alt="twitter"></a>
            <a href="http://instagram.com" target="_blank"><img src="../images/Instagram.svg.webp" width="50" height="50" alt="instagram"></a><br>

        </div>
        <div class="col2">
            <a href="/views/about_1.html.html">About Us</a><br>
            <a href="/views/send-mail.html">Contact Us</a><br>
            <a href="/views/categories.html">Categories</a><br>
            <a href="/views/price_list.html">Price List</a><br>
            <a href="/views/blog.html">Blog</a><br><br>
            <a href="/views/hotlines.html">ԹԵԺ ԳԾԵՐ</a><br>
            <a href="/views/codes.html">ՀՀ մարզերի և միջազգաիին կոդեր</a><br>
            <a href="/views/mailIndexes.html">Երևանի փոստային դասիչներ</a><br>
            <a href="/views/oldNewStreets.html">Փողոցների հին ու նոր անվանումներ</a><br>
            <a target="_blank" href="https://www.google.com/maps/@40.0090187,45.2423152,8z">ՔԱՐՏԵԶ</a><br><br>
            <a href="/views/footer1.html">Գաղտնիութան քաղաքականութուն</a><br>
            <a href="/views/footer2.html">Օգտագործման կանոններ</a><br>

        </div>
    </div>
    <p>&copy; Samvel Directory 2022</p>
</div>
</body>
</html>