<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <script type="module" src="../js/pages/organizations.js"></script>
</head>
<body>
<h1>Homepage</h1>
<a href="/views/posts.html">Posts</a><br>
<a href="/views/post-create.html">New Post</a><br>
<a href="/views/organizations.html">Organizations</a><br>
<a href="/views/organization-create.html">New Organization</a><br>
<a href="/views/login.html">Login</a><br>
<a href="/views/register.html">Register</a><br>
<div id="organizations">

</div>
<div id="footer">
    <h4>Telephones</h4>
    <h4>հեռախոսաիին տեղեկատու</h4>
    <a href="tel:3773">3773</a><br>
    <a href="tel: +374 91 01 37 73">+374-91-00-37-73</a><br>
    <h4>ընդհանուր բաժին</h4>
    <a href="tel:+374 93 12 37 73">+374-93-12-37-73</a><br>
    <a href="tel:+374 95 31 37 73">+374-95-31-37-73</a><br>
    <h4>Adress: home 17</h4>
    <a href="/views/send-mail.html">Send mail</a><br>
    <h4>Social Network</h4>
    <a href="http://facebook.com" target="_blank"><img src="../images/facebook.png" width="50" height="50" alt="facebook"></a>
    <a href="http://twitter.com" target="_blank"><img src="../images/twitter.png" width="50" height="50" alt="twitter"></a>
    <a href="http://instagram.com" target="_blank"><img src="../images/Instagram.svg.webp" width="50" height="50" alt="instagram"></a><br>
    <a href="/views/posts.html">News</a><br>
    <a href="/views/organizations.html">Classificators</a><br>
    <a href="#">Գաղտնիութան քաղաքականութուն</a><br>
    <a href="#">Օգտագործման կանոններ</a><br>
    <a href="/views/codes.html">ՀՀ մարզերի և միջազգաիին կոդեր</a><br>
    <p>&copy; Samvel Directory 2022</p>
</div>
</body>
</html>