<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    <script type="module" src="../js/pages/post-update.js"></script>
</head>
<body>
<h1>Homepage</h1>
<a href="/views/posts.html">Posts</a><br>
<a href="/views/post-create.html">New Post</a><br>
<a href="/views/organizations.html">Organizations</a><br>
<a href="/views/organization-create.html">New Organization</a><br>
<a href="/views/login.html">Login</a><br>
<a href="/views/register.html">Register</a><br>
<div id="create-box">
    <h2>Create Post</h2>
    <label>Title</label>
    <input type="text" name="title"><br><br>
    <label>Image</label>
    <img id="imagePreview"><br>
    <input type="file" name="image"><br><br>
    <label>Description</label>
    <input type="text" name="description"><br><br>
    <button id="update">Update Post</button>
</div>
</body>
</html>