<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <script type="module" src="../js/pages/posts.js"></script>
</head>
<body>
    <h1>Homepage</h1>
    <a href="/views/posts.html">Posts</a><br>
    <a href="/views/post-create.html">New Post</a><br>
    <a href="/views/organizations.html">Organizations</a><br>
    <a href="/views/organization-create.html">New Organization</a><br>
    <a href="/views/login.html">Login</a><br>
    <a href="/views/register.html">Register</a><br>
    <div id="posts">

    </div>
</body>
</html>