<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../fonts/icomoon/style.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">

    <!-- Style -->

    <link rel="stylesheet" href="../../css/layout.css" type="text/css">
    <link rel="stylesheet" href="../../css/category_beta.css" type="text/css">
    <script type="module" src="../../js/pages/category-beta.js"></script>
    <title>Category - 2</title>
</head>
<body>
<div id="menu">
    <div class="col0">
        <a href="tel: 3773">
            <img src="../../images/call_us_3.png" id="callUs" alt="">
        </a>
    </div>
    <div class="col1">
        <a href="/views/about_1.html">About Us</a>
        <a href="/views/send-mail.html">Contact Us</a>
        <a href="/views/categories.html">Categories</a>
        <a href="/views/price_list.html">Price List</a>
    </div>
    <div id="logo">
        <a href="/views">
            <img src="../../images/DIR_INFO_CALL_LOGO_V2.png" alt="">
        </a>
    </div>
    <div class="col2">
        <a href="#" class="locale" locale-lang="hy_AM">Հայ</a> <!--<img src="https://img5.goodfon.ru/wallpaper/nbig/6/43/armenia-flag-armenian-armenian-flag-flag-of-armenia-republic.jpg" alt="arm_lang">-->
        <a href="#" class="locale" locale-lang="en_US">Eng</a> <!--<img src="https://tekinfarmed.com/images/en.png" alt="eng_lang">-->
        <a href="#" class="locale" locale-lang="ru_RU">Рус</a> <!--<img src="https://practicalfunctionalassessment.files.wordpress.com/2020/12/russian-flag-russian-flag-russia-flag-of-russia.jpg" alt="rus_lang">-->
    </div>
    <div class="col3">
        <a href="/views/login.html">Login</a>
        <a href="/views/register.html">Sign Up</a>
    </div>

</div>
<div id="container" style="height:1800px;">
    <div id="content" style="height:95%;">
        <div class="col1">
            <p style="text-align:center;"><a href="/views/categories.html"><img style="width:200px;" src="../../images/category_minilogo.jpg" alt=""></a> <a href="/views/category_1.html" style="text-transform:uppercase;font-weight:bold; font-size:28px;">Մշակույթ</a></p>
            <ul>
                <li><a href="/views/subcats/subcat1_1.html">Կինոթատրոններ</a></li>
                <li><a href="/views/subcats/subcat1_2.html">Թատրոններ</a></li>
                <li><a href="/views/subcats/subcat1_3.html">Թանգարաններ</a></li>
                <li><a href="/views/subcats/subcat1_4.html">Ցուցահանդեսներ</a></li>
                <li><a href="/views/subcats/subcat1_5.html">Արվեստի կենտրոններ</a></li>
                <li><a href="/views/subcats/subcat1_6.html">Համերգասրահներ</a></li>
                <div class="short-info">
                    <h3>Հարգելի օգտվող,  խնդրում ենք</h3>
                    <ul>
                        <li><span style="color:red;">-</span> Կազմակերպության հետ կապվելիս
                            նշել  <span style="color:red;">«3773 dir.info.call»</span> Տեղեկատուն
                            որպես տեղեկությունների աղբյուր:</li>
                        <li><span style="color:red;">-</span> Հայտնել տեղեկություններում
                            անճշտությունների մասին<br>
                            <span style="color:red;">«3773 dir.info.call»</span> Տեղեկատու:</li>
                    </ul>
                </div>
            </ul>
        </div>
        <div class="col2">
            <h1>Թատրոններ</h1>
            <div id="organizations">
                <!--
                <div class="post">
                    <h2>ՆԱՐԵԿ ԴՈՒՐՅԱՆԻ ԲՈՀԵՄ ԹԱՏՐՈՆ</h2>
                    <p><i>Թատրոն, թատերական ներկայացումներ, համերգներ, տոմսերի առցանց ամրագրում </i></p>
                    <p>Մ. Բաղրամյան պող. 3 (Գրողների միության շենք)</p>
                </div>
                <div class="post">
                    <h2>ԵՐԵՎԱՆԻ ՊԵՏԱԿԱՆ ԿԱՄԵՐԱՅԻՆ ԹԱՏՐՈՆ</h2>
                    <p><i>Հեղինակային թատրոն</i></p>
                    <p>Մեսրոպ Մաշտոցի պող. 58</p>
                </div>
                <div class="post">
                    <h2>ՍՏԱՆԻՍԼԱՎՍԿՈՒ ԱՆՎԱՆ ՊԵՏԱԿԱՆ ՌՈՒՍԱԿԱՆ ԴՐԱՄԱՏԻԿԱԿԱՆ ԹԱՏՐՈՆ</h2>
                    <p><i>Թատրոն, թատերական գործունեություն</i></p>
                    <p>Աբովյան փող. 7</p>
                </div>
                <div class="post">
                    <h2>ԳԱԲՐԻԵԼ ՍՈՒՆԴՈՒԿՅԱՆԻ ԱՆՎԱՆ ԱԶԳԱՅԻՆ ԱԿԱԴԵՄԻԱԿԱՆ ԹԱՏՐՈՆ</h2>
                    <p><i>Թատրոն, թատերական գործունեություն</i></p>
                    <p>Գր. Լուսավորիչի փող. 6</p>
                </div>
                <div class="post">
                    <a href="/views/orgs/org1_5.html"><h2>ԵՐԵՎԱՆԻ ՀՐԱՉՅԱ ՂԱՓԼԱՆՅԱՆԻ ԱՆՎԱՆ ԴՐԱՄԱՏԻԿԱԿԱՆ ԹԱՏՐՈՆ</h2></a>
                    <p><i>Թատրոն, թատերական գործունեություն</i></p>
                    <p>Իսահակյան փող. 28</p>
                </div>
                <div class="post">
                    <h2>ԵՐԵՎԱՆԻ ՄՆՋԱԽԱՂԻ ՊԵՏԱԿԱՆ ԹԱՏՐՈՆ</h2>
                    <p><i>Թատրոն, թատերական գործունեություն</i></p>
                    <p>Մոսկովյան փող. 3, 3-րդ հարկ</p>
                </div>
                <div class="post">
                    <h2>ԵՐԵՎԱՆԻ ԽԱՄԱՃԻԿՆԵՐԻ ՊԵՏԱԿԱՆ ԹԱՏՐՈՆ</h2>
                    <p><i>Թատրոն, թատերական գործունեություն</i></p>
                    <p>Մեսրոպ Մաշտոցի պող. 43</p>
                </div>
                <div class="post">
                    <h2>ՀԵՆՐԻԿ ՄԱԼՅԱՆԻ ԱՆՎԱՆ ԿԻՆՈԴԵՐԱՍԱՆԻ ԹԱՏՐՈՆ</h2>
                    <p><i>Թատրոն, թատերական գործունեություն</i></p>
                    <p>Վարդանանց փող. 18</p>
                </div>
                <div class="post">
                    <h2>ԵՐԵՎԱՆԻ ՊԱՏԱՆԻ ՀԱՆԴԻՍԱՏԵՍԻ ՊԵՏԱԿԱՆ ԹԱՏՐՈՆ</h2>
                    <p><i>Թատրոն, թատերական գործունեություն</i></p>
                    <p>Մոսկովյան փող. 3</p>
                </div>
                <div class="post">
                    <h2>ՊԵՏԱԿԱՆ ԵՐԱԺՇՏԱԿԱՆ ԿԱՄԵՐԱՅԻՆ ԹԱՏՐՈՆ</h2>
                    <p><i>Թատրոն</i></p>
                    <p>Պռոշյան փող. 1, փակուղի 1</p>
                </div>
                <div class="post">
                    <h2>ՀԱԿՈԲ ՊԱՐՈՆՅԱՆԻ ԱՆՎԱՆ ԵՐԱԺՇՏԱԿԱՆ ԿՈՄԵԴԻԱՅԻ ՊԵՏԱԿԱՆ ԹԱՏՐՈՆ</h2>
                    <p><i>Թատրոն</i></p>
                    <p>Վազգեն Սարգսյան փող․ 7</p>
                </div>
                <div class="post">
                    <h2>ԱԼԵՔՍԱՆԴՐ ՍՊԵՆԴԻԱՐՅԱՆԻ ԱՆՎԱՆ ՕՊԵՐԱՅԻ ԵՎ ԲԱԼԵՏԻ ԱԶԳԱՅԻՆ ԱԿԱԴԵՄԻԱԿԱՆ ԹԱՏՐՈՆ </h2>
                    <p><i>Օպերային թատրոն, մշակութային գործունեություն</i></p>
                    <p>Թումանյան փող. 54</p>
                </div>
                <div class="post">
                    <h2>ՄԵՏՐՈ ԹԱՏՐՈՆ</h2>
                    <p><i>Թատրոն-ստուդիա, քոլեջ</i></p>
                    <p>Գարեգին Նժդեհի հրապարակ</p>
                </div>
                <div class="post">
                    <h2>ՍՈՍ ՍԱՐԳՍՅԱՆԻ ԱՆՎԱՆ ՀԱՄԱԶԳԱՅԻՆ ԹԱՏՐՈՆ</h2>
                    <p><i>Մշակութային գործունեություն, թատրոն</i></p>
                    <p>Ամիրյան փող. 26</p>
                </div>
                <div class="post">
                    <h2>ՄՀԵՐ ՄԿՐՏՉՅԱՆ ԱՐՏԻՍՏԱԿԱՆ ԹԱՏՐՈՆ</h2>
                    <p><i>Թատրոն, թատերական գործունեություն</i></p>
                    <p>Մովսես Խորենացու փող. 18</p>
                </div>
                <div class="post">
                    <h2>ՓՈՔՐ ԹԱՏՐՈՆ</h2>
                    <p><i>Թատրոն, թատերական գործունեություն</i></p>
                    <p>Աբովյան փող. 11</p>
                </div>
                <div class="post">
                    <h2>ԷԴԳԱՐ ԷԼԲԱԿՅԱՆ ԹԱՏՐՈՆ</h2>
                    <p><i>Թատրոն</i></p>
                    <p>Մեսրոպ Մաշտոցի պող. 43</p>
                </div>
                <div class="post">
                    <h2>ԳՈՅ ԹԱՏՐՈՆ</h2>
                    <p><i>Թատրոն</i></p>
                    <p>Սուրբ Գրիգոր Լուսավորչի փող. 6</p>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="row1">
        <div class="col1">
            <h4>Telephones</h4>
            <h4>հեռախոսաիին տեղեկատու</h4>
            <a href="tel:3773">3773</a><br>
            <a href="tel: +374 71 00 37 73">+374-71-00-37-73</a><br>
            <h4>ընդհանուր բաժին</h4>
            <a href="tel:+374 10 12 37 73">+374-10-12-37-73</a><br>
            <a href="tel:+374 93 00 75 91">+374-93-00-75-91</a><br>
            <h4>Address: <br><span style="color:dodgerblue;"> Republic of Armenia, Yerevan <br>Mamikonyants 52</span></h4>
            <a href="/views/send-mail.html">Send mail</a><br>
        </div>
        <div class="col2">
            <h4>Social Network</h4>
            <a href="http://facebook.com" target="_blank"><img src="../../images/facebook.png" width="50" height="50" alt="facebook"></a>
            <a href="http://twitter.com" target="_blank"><img src="../../images/twitter.png" width="50" height="50" alt="twitter"></a>
            <a href="http://instagram.com" target="_blank"><img src="../../images/Instagram.svg.webp" width="50" height="50" alt="instagram"></a><br>
            <a href="/views/posts.html">News</a><br>
            <a href="/views/organizations.html">Classificators</a><br>
            <a href="/views/footer1.html">Գաղտնիութան քաղաքականութուն</a><br>
            <a href="/views/footer2.html">Օգտագործման կանոններ</a><br>
            <a href="/views/codes.html">ՀՀ մարզերի և միջազգաիին կոդեր</a><br>
        </div>
    </div>
    <p>&copy; Samvel Directory 2021</p>
</div>

</body>
</html>